<header>
  <nav class="navbar  navbar-expand-lg navbar-light bg-light" id="styleNav" style="transition: top 10s ease-in-out;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Angular App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="user.id === ''">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-md-start" style="width: 100%!important;"
            *ngIf="user.id !== ''">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-md-end">
          <li class="nav-item align-content-end end-0" style="right: 0">
            <a routerLink="/userProfile" style="color:#000000;cursor: pointer;">
              <i class="bi bi-person me-2" style="color: #000000;"></i>{{user.email}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
