<app-headers></app-headers>
<div class="row m-5 no-gutters shadow-lg" style="height: 100vh">
  <div class="col-md-4 d-none d-md-block">
    <img src="assets/images/side_register_login.webp" class="img-fluid" style="height: 100%; object-fit: cover;" alt="Login Form"/>
  </div>
  <div class="col-md-8 bg-white">
    <div class="step-form justify-content-center">
      <div class="col-4">Login</div>
    </div>
    <form (ngSubmit)="loginForm.valid && validateLogin(loginForm)" #loginForm="ngForm">
      <!-- Email input -->
      <div class="row mb-4">
        <div>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="model.email"
                 #email="ngModel"
                 pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required/>
          <label class="form-label" for="email">Email address</label>

        </div>
        <div>
         <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&
         email.errors?.['required']">Email is required !</span>
          <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&
         email.errors?.['pattern']">Please provide a valid email address !</span>
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-outline">
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="model.password"
                 #password="ngModel" required/>
          <label class="form-label" for="password">Password</label>
        </div>
        <div>
          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
          password.errors?.['required']">Password is required !</span>
        </div>
      </div>
      <!-- Submit button -->
      <button type="submit" id="submitBtn" class="btn btn-primary btn-block mb-4">Login</button>

    </form>
  </div>
</div>
