<app-headers></app-headers>
<div class="row m-5 justify-content-center no-gutters shadow-lg p-md-5">
  <div class="col-md-6 bg-white p-5">
    <div class="welcome-msg pt-3 pb-4">
      <h4>Update User</h4>
    </div>

    <form (ngSubmit)="changePasswordForm.valid && validateForm(changePasswordForm)" #changePasswordForm="ngForm">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="row mb-4">
          <div class="form-outline">
            <input type="password" id="oldPassword" name="password" class="form-control" [(ngModel)]="model.oldPassword"
                   #oldPassword="ngModel" required/>
            <label class="form-label" for="oldPassword">Old Password</label>
          </div>
          <div>
          <span class="text-danger" *ngIf="(oldPassword.touched || changePasswordForm.submitted) &&
          oldPassword.errors?.['required']">Password is required !</span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-outline">
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="model.password"
                   #password="ngModel"
                   required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d-+_!@#$%^&*.,?]{8,}$"/>
            <label class="form-label" for="password">Password</label>
          </div>
          <div>
          <span class="text-danger" *ngIf="(password.touched || changePasswordForm.submitted) &&
          password.errors?.['required']">Password is required !</span>
            <span class="text-danger" *ngIf="(password.touched || changePasswordForm.submitted) &&
          password.errors?.['pattern']">Please provide a valid password! </span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-outline">
            <input type="password" id="cPassword" name="confirm password" class="form-control"
                   [(ngModel)]="model.confirmPassword"
                   #confirmPassword="ngModel"/>
            <label class="form-label" for="cPassword">Confirm Password</label>
          </div>
          <label>
          <span class="text-danger" *ngIf="(confirmPassword.touched || changePasswordForm.submitted) &&
          (!matchPassword())">Password and Confirm Password not matching!</span>
          </label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!matchPassword()">Update</button>
      </div>
    </form>
  </div>
</div>
