.card {
  height: 320px;
  width: 320px;
  border: none;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card-link {
  color: #007bff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

.card.selected {
  border: 2px solid #007bff;
}

.subscription-plan {
  list-style: none;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-list ul {
  list-style-type: none;
}

.description-list li::before {
  content: '\2713 ';
  color: #4caf50;
}


.description-list li {
  max-width: 100%;
  word-wrap: break-word;
  list-style: none;
  align-content: flex-start;
}
