.hero {
  height: 500px;
  background-image: url('/assets/images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-content {
  padding: 50px;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 40px;
}

.btn {
  background-color: #FFC107;
  color: white;
  padding: 16px 32px;
  border-radius: 50px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FF9800;
}


.bottom-section {
  height: 500px;
  background-size: cover;
  background: linear-gradient(to bottom, #1d5f9f, #010916) center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bottom-content {
  padding: 50px;
  color:  #CAB9D5;
  text-align: center;
}


.bottom-content p {
  font-size: 24px;
  margin-bottom: 40px;
}
