.card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card button {
  margin-top: 10px;
  width: 100%;
}

.card input[type="file"] {
  display: none;
}

.left-aligned {
  float: left;
  width: 50%;
}

.right-aligned {
  float: right;
  width: 50%;
}


@media (max-width: 1200px) {
  .left-aligned, .right-aligned {
    float: none;
    width: 100%;
  }
}

.welcome-msg h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-details, .subscription-details, .product-details, .price-details {
  margin-bottom: 2rem;
}

.card-details h2, .subscription-details h2, .product-details h2, .price-details h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card-details p, .subscription-details p, .product-details p, .price-details p {
  margin-bottom: 0.5rem;
}
