.step-form {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #7aa3cc, #007bff);
  border-radius: 10px;
  padding: 20px;
}

.step-form .col-4 {
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.step-form .col-4:first-child {
  margin-right: 10px;
}



